<div class="head">
    <img src="../../assets/boton-de-play.png" alt="" (click)="codification()" >
    <img src="../../assets/boton-detener.png" alt="" (click)="stop()">
</div>
<div class="flex">
    <div class="play">
        <h1>Playground</h1>
        <div class="base" (click)="base()">
            <h2>BASE CODE</h2>
        </div>
        <div class="if" (click)="si()">
            <h2>IF</h2>
            <p>si (condicion){{'{'}}codigo{{'}'}}</p>
        </div>
        <div class="sino" (click)="sino()">
            <h2>ELSE</h2>
            <p>sino{{'{'}}codigo{{'}'}}</p>
        </div>
        <div class="para" (click)="para()">
            <h2>FOR</h2>
            <p>para(condicion){{'{'}}codigo{{'}'}}</p>
        </div>
        <div class="mientras" (click)="mientras()">
            <h2>WHILE</h2>
            <p>mientras(condicion){{'{'}}codigo{{'}'}}</p>
        </div>
        <div class="escribir" (click)="print()">
            <h2>PRINT</h2>
            <p>escribir(texto en pantalla);</p>
        </div>
        <div class="asignacion" (click)="asignacion()">
            <H2>ASIGNACION</H2>
            <p>variable:=1;</p>
        </div>
        
        <div class="int" (click)="int()">
            <h2>DECLARACION</h2>
            <p>int a;</p>
        </div>
    </div>
    <div class="space">
        <textarea class="code" name="space" [(ngModel)]="code"></textarea>
    </div>
</div>
<div class="out">
    <textarea class="output" name="output" [(ngModel)]="output" ></textarea>
</div>