body{
    margin: 0;
    padding: 0;
}
textarea{
    width: 100%;
    background-color: transparent;
}
textarea{
    width: 100%;
    background-color: transparent;
}

h1{
    text-align: center;
    margin: 0 auto;
    grid-column: 1 / 3;
    padding: 0;
}
img{
    width: 30px;
    height: 30px;
    margin: auto;
}
p{
    padding: 0;
    margin: 0;
}
.code{
    height: 60vh;
}
.output{
    height: 30vh;
    color: white;
}
.flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0;
    padding: 0;
}

.out{
    background-color: #06283D;
    width: 100%;
    height: 30vh;
}

.head{
    background-color: #1363DF;
    width: 100%;
    height: 10vh;
    display: flex;
}

.play{
    background-color: #47B5FF;
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.space{
    background-color: #DFF6FF;
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 0;
}
